*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(0, 81, 255), rgb(3, 177, 119));
    flex-wrap: wrap;
}

.item{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    height: 500px;
    width: 300px;
    margin: 20px;
    text-align: center;
    font-family: Poppins;
    cursor: pointer;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s, height 0.4s, width 0.4s;
}

.item p{
    padding: 15px;
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
    font-size: 18px;
}

.item h1{
    padding: 20px;
}

.item:hover{
    width: 330px;
    height: 530px;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.5);
}
